.header {
    @include obnull;
    @include size(100%, 74px, 0);
    box-sizing: border-box;
    padding-right: 120px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: var(--bg-base);
}