.capital-block {
    @include size(100%, 0, 0);
    @include obnull;
    background-image: url('../images/capital-blockBG.png');
    background-size: 610px 836px;
    background-position: right bottom;
    background-repeat: no-repeat;
    max-width: 1440px;
    min-height: 856px;
    margin: 74px 0 60px;
    align-self: flex-end;

    @media screen and (max-width: 767px) {
        width: 284px;
        background-size: 254px 348px;
        background-position: right 18px top 200px;
        min-height: 706px;
        margin: 74px auto 0;
    }

    &__content {
        width: 460px;
        padding-top: 80px;
        box-sizing: border-box;
        position: relative;

        @media screen and (max-width: 767px) {
            width: 100%;
            padding-top: 40px;
        }
    }

    &__title {
        margin-top: 0;
    }

    &__text {
        margin-bottom: 50px;
    }

    &__button {
        @include obnull;
        border: 0;
        @include size(180px, 50px, 4px);
        background-color: #24b47e;
        @include fonts(14px, 600, 18px, 1px, var(--color-button));
        cursor: pointer;

        &:hover {
            animation: changeColor linear .5s forwards;
        }

        @keyframes changeColor {
            0% {
                background-image: linear-gradient(to left, #24b47e 0 180px, #319E75 180px 180px);
            }

            25% {
                background-image: linear-gradient(to left, #24b47e 0 120px, #319E75 120px 180px);
            }

            50% {
                background-image: linear-gradient(to left, #24b47e 0 90px, #319E75 90px 180px);
            }

            75% {
                background-image: linear-gradient(to left, #24b47e 0 60px, #319E75 60px 180px);
            }
            100% {
                background-image: linear-gradient(to left, #24b47e 0 0, #319E75 0 180px);
            }
        }

        @media screen and (max-width: 767px) {
            position: static;
            @include size(284px, 46px, 0);
        }
    }

    &__sign {
        margin: 167px 0 0;
        display: flex;
        flex-direction: row;
        align-items: center;

        @media screen and (max-width: 767px) {
            display: none;
        }
    }

    &__sign-text {
        @include obnull;
        @include fonts(18px, 400, 18px, 0, var(--color-heading));
        margin-right: 30px;
    }

    &__sign-line {
        background-color: #D7D4D4;
        @include size(132px, 2px, 0);
    }

    &__card-container {
        @include size(440px, 430px, 0);
        position: absolute;
        top: 347px;
        right: -490px;

        @media screen and (max-width: 767px) {
            position: static;
            @include size(234px, 229px, 0);
            margin: 120px 0 77px;
        }
    }

    &__card {
        position: sticky;
        top: inherit;
        @include size(440px, 300px, 20px);
        box-shadow: -20px 60px 220px rgba(0, 0, 0, 0.44);
        background-color: #f4f4f4;
        display: flex;
        justify-content: center;
        align-items: center;

        @media screen and (max-width: 767px) {
            @include size(234px, 160px, 0);
        }
    }

    &__bike {
        @include obnull;
        @include size(340px, 260px, 0);

        @media screen and (max-width: 767px) {
            @include size(180px, 140px, 0);
        }
    }
}