.bikes {
    @include obnull;
    max-width: 1440px;
    @include size(100%, 0, 0);
    box-sizing: border-box;
    margin: 60px auto;

    @media screen and (max-width: 767px) {
        @include size(284px, 0, 0);
        margin: 0 auto;
    }

    &__text {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;

        @media screen and (max-width: 767px) {
            display: block;
        }
    }

    &__title {
        margin: 0;
    }

    &__pavements {
        display: block;
        @media screen and (max-width: 767px) {
            display: none;
        }
    }

    &__pavement {
        border: 0;
        background-color: inherit;
        @include obnull;
        margin-right: 40px;
        @include fonts(18px, 400, 28px, 0, var(--color-text));
        text-align: right;
        cursor: pointer;

        &:last-of-type {
            margin: 0;
        }

        &_active {
            color: var(--color-heading);
            font-weight: 600;
        }
    }

    &__pavements-form {
        @include obnull;
        @include size(114px, 30px, 0);
        margin: 40px 0 20px;
        display: none;

        @media screen and (max-width: 767px) {
            display: block;
        }
    }

    &__pavements-select {
        @include obnull;
        border: 1px solid #e3e3e3;
        @include size(100%, 100%, 2px);
        @include fonts(11px, 600, 14px, 0, var(--color-heading));
        background-color: var(--bg-base);
    }

    &__cards {
        @include obnull;
        margin-top: 120px;
        display: flex;
        flex-direction: row;

        @media screen and (max-width: 767px) {
            margin: 0;
        }
    }

    &__card {
        @include obnull;
        margin-right: 30px;
        display: block;
        text-decoration: none;

        @media screen and (max-width: 767px) {
            display: none;

            &_visible {
                display: block;
                background-color: #f4f4f4;
                box-shadow: 0px 20px 140px rgba(0, 0, 0, 6%);
                cursor: pointer;
                @include size(284px, 306px, 20px);

                &:hover {
                    box-shadow: -20px 60px 220px rgba(0, 0, 0, 0.44);
                }
            }
        }

        &-bg {
            @include size(380px, 380px, 20px);
            background-color: #f4f4f4;
            box-shadow: 0px 20px 140px rgba(0, 0, 0, 6%);
            cursor: pointer;

            &:hover {
                box-shadow: -20px 60px 220px rgba(0, 0, 0, 0.44);
            }
            
            @media screen and (max-width: 767px) {
                @include size(284px, 284px, 0);
                box-shadow: unset;
                background-color: inherit;

                &:hover {
                    box-shadow: unset;
                }
            }
        }
    }

    &__image {
        @include size(340px, 340px, 0);
        margin: 20px;

        @media screen and (max-width: 767px) {
            @include size(269px, 269px, 0);
            margin: 15px 15px 3px;
        }
    }

    &__description {
        @include fonts(18px, 600, 22px, 0, var(--color-heading));

        @media screen and (max-width: 767px) {
            @include fonts(14px, 600, 18px, 0, var(--color-heading));
            text-align: center;
            margin: 0 auto 16px;
        }
    }

    &__slider {
        @include obnull;
        display: none;
        flex-direction: row;
        justify-content: center;
        margin: 20px auto 0;

        @media screen and (max-width: 767px) {
            display: flex;
        }
    }

    &__label {
        @include obnull;
        margin-right: 5px;
        @include size(4px, 4px, 0);
        cursor: pointer;

        &:last-of-type {
            margin: 0;
        }
    }

    &__input {
        display: none;
    }

    &__input:disabled{
         + .bikes__span {
            background-color: #cacaca;
        }
    }

    &__input:checked{
        + .bikes__span {
            background-color: var(--color-heading);
       }
   }

    &__span {
        @include obnull;
        display: block;
        @include size(100%, 100%, 100%);
        background-color: #cacaca;
    }
}