.page {
    @include obnull;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-base);

    &_theme_light {
        --color-heading: #151515;
        --color-text: rgba(34, 34, 34, .7);
        --color-caption: #cfcfcf;
        --color-button: #fff;
        --bg-base: #f4f4f4;
    }

    &_theme_dark {
        --color-heading: #fff;
        --color-text: rgba(229, 229, 229, .7);
        --color-caption: #565656;
        --color-button: #fff;
        --bg-base: #333;
    }
}