.line {
    @include size(284px, 1px, 0);
    background-color: #e3e3e3;
    margin: 80px auto 40px;
    display: none;

    &_place_display-grid {
        grid-row: 1/2;
        grid-column: 1;
        margin-bottom: 0;
    }

    &_place_pavement {
        grid-area: line;
    }

    @media screen and (max-width: 767px) {
        display: block;
    }
}